.about {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px 20px;
    background-color: #252525;
    color: white
}

.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.parrafoAbout {
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    font-size: 0.8rem;
}

.main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;;
}

.main > div {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 100%;
}

.main > div > p {
    font-family: 'Open Sans', sans-serif;
    font-size: 0.8rem;
}

.main > div > h3 {
    font-weight: bold;
    letter-spacing: 5px;
    color: #6A73FE;
    font-family: 'Raleway', sans-serif;
}

.lni {
    width: 50px;
    font-size: 2rem;
}

.imgabout {
    margin: 35px;
    width: 231px;
}

@media (min-width: 768px) {
    .parrafoAbout {
        font-size: 1.5rem;
    }

    .main {
        display: grid;
        grid-template-areas: "top1 top2" "button button";
        gap: 61px;
    }

    .separatorabout {
        display: none;
    }

    .imgabout {
        width: 20rem;
    }
    .main > div > p {
        font-size: 1.2rem;
    }

    .main > div > h3 {
        font-size: 2rem;
    }

    .lni {
        font-size: 4rem;
        margin-right: 20px;
    }

    .topmain {
        grid-area: top1;
    }

    .topmain2 {
        grid-area: top2;
    }

    .buttonmain {
        grid-area: button;
    }
}