.contact {
    grid-area: contact;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 80px 0;
    background-color: #252525;
}

.formulario {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}


.formulario > input {
    border: none;
    border-bottom: 4px solid black;
    border-left: 4px solid black;
    margin: 10px 0;
    width: 243px;
    padding: 10px;
    font-size: 12px;
    font-weight: bold;
    font-family: 'Montserrat', sans-serif;
    background-color: #252525;
    color: white;
}


.formulario > input:focus {
    outline: none;
}

.formulario > textarea:focus {
    outline: none;
}

.formulario > input::placeholder {
    color: #8B8B8B;
    font-size: 12px;
    font-weight: bold;
    font-family: 'Montserrat', sans-serif;
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    flex-direction: column;
}

.inputSubmit {
    border: none;
    border-right: 4px solid black;
    border-left: 4px solid black;
    margin: 10px 0;
    width: 243px;
    padding: 10px;
    font-size: 12px;
    font-weight: bold;
    font-family: 'Montserrat', sans-serif;
}


.formulario > textarea {
    width: 255px;
    border: none;
    border-bottom: 4px solid black;
    border-left: 4px solid black;
    max-height: 150px;
    max-width: 255px;
    background-color: #252525;
}

.imgContactBanner {
    width: 231px;
    margin: 35px;
}

@media (min-width: 768px) {
    .formulario {
        align-items: center;
        width: 100%;
    }

    .formulario > textarea {
        max-width: 623px;
        min-width: 623px;
        max-height: 155;
    }

    .formulario > input {
        margin: 20px 0;
        width: 609px;
        padding: 10px;
        color: white;
    }

    .inputSubmit {
        border: none;
        border-right: 4px solid black;
        border-left: 4px solid black;
        margin: 10px 0;
        width: 243px;
        padding: 10px;
        font-size: 12px;
        font-weight: bold;
        font-family: 'Montserrat', sans-serif;
        background-color: #252525;
    }

    .inputSubmit:hover {
        background-color: #FFB800;
    }
}