.home {
    grid-area: home;
    height: 100%;
    width: 100%;
    background-color: black;
}

h1 {
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
}

span {
    color: white;
}

.spanHi {
    position: relative;
}

.home > div {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 500px;
}

.subtitle {
    font-size: .7rem;
    color: gray;
}

@media (min-width: 768px) {
    .home > div {
        font-size: 2rem;
    }

    .separadorhome {
        display: none;
    }

    .spanHi {
        position: relative;
        top: 31px;
        left: -146px;
    }

    h1{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    .subtitle {
        font-size: 1rem;
        color: gray;
        border-bottom: 1px solid gray;
        width: 159px;
    }
}