.home {
    grid-area: home;
    height: 100%;
    width: 100%;
    background-color: black;
   
}

/* From uiverse.io by @adamgiebl */
.cssbuttons-io-button {
    display: flex;
    align-items: center;
    font-family: inherit;
    font-weight: 500;
    font-size: 17px;
    margin-top: 15px;
    padding: 0.8em 1.5em 0.8em 1.2em;
    color: white;
    background: #ad5389;
    background: linear-gradient(0deg, #6A73FE 0%, #6A73FE 100%);
    border: none;
    box-shadow: 0 0.7em 1.5em -0.5em #6A73FE;
    letter-spacing: 0.05em;
    border-radius: 20em;
   }
   
   .cssbuttons-io-button svg {
    margin-right: 8px;
   }
   
   .cssbuttons-io-button:hover {
    box-shadow: 0 0.5em 1.5em -0.5em #6A73FE;
   }
   
   .cssbuttons-io-button:active {
    box-shadow: 0 0.3em 1em -0.5em #6A73FE;
   }

   .adowload {
    text-decoration: none;
    color: #fff;
   }

h1 {
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Permanent Marker', cursive;
    color: #6A73FE;
}

span {
    color: white;
}

.spanHi {
    position: relative;
}

.home > div {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 500px;
}

.subtitle {
    font-size: .7rem;
    color: white;
    font-family: 'Poppins', sans-serif;
}

.dvProyectsAnimacion {
    display: none;
}

.home {
    grid-template-columns: auto;
    height: 456px;
}








@media (min-width: 768px) {
    .home > div {
        font-size: 2rem;
        height: 600px;
    }

    .home {
        display: grid;
        grid-template-columns: 1fr 1fr;
        height: 600px;
    }

    .separadorhome {
        display: none;
    }

    .spanHi {
        position: relative;
        top: 31px;
        left: -146px;
    }

    
    h1{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    .subtitle {
        font-size: 1rem;
        color: white;
        border-bottom: 1px solid gray;
        width: 159px;
    }

    .dvProyectsAnimacion {
        width: 100%;
        position: relative;
    }
    
    .box1 {
        position: absolute;
        width: 701px;
        height: 428px;
        left: 37px;
        top: 110px;
        background: url(../../assets/online-document-animate.svg);
        background-repeat: no-repeat;
        background-size: cover;
        box-shadow: 0px 5px 35px rgb(0, 0, 0);
        background-color: rgb(0, 0, 0 , 0.5);
        border-radius: 8px;
        }
    
    .box2 {
        position: absolute;
        width: 399px;
        height: 274px;
        left: 225px;
        top: 250px;
        background: url(../../assets/Blog.svg);
        background-repeat: no-repeat;
        background-size: cover;
        box-shadow: 0px 5px 35px rgb(0, 0, 0);
        background-color: rgb(0, 0, 0 , 0.5);
        border-radius: 8px;
        }
    
    .box3{
        position: absolute;
        width: 412px;
        height: 274px;
        left: 375px;
        top: 280px;
        background: url(../../assets/working-from-anywhere-animate.svg);
        background-repeat: no-repeat;
        background-size: cover;
        box-shadow: 0px 5px 35px rgb(0, 0, 0);
        background-color: rgb(0, 0, 0 , 0.5);
        border-radius: 8px;
        }
    
    .dvProyectsAnimacion>* {
        transition: all 1s cubic-bezier(0.075, 0.82, 0.165, 1) 0s;
        }
    
    .dvProyectsAnimacion>div {
        transform: rotateY(-20deg) rotateX(20deg);
        filter: blur(0.5px);
        cursor: pointer;
        }
    
    .dvProyectsAnimacion:hover>div {
        transform: rotateY(0deg) rotateX(0deg);
        filter: saturate(20%)
        
        }
    
    .dvProyectsAnimacion:hover .box2 {
        transition-delay: 0.1s;
        transform: translate(-260px, 30px);
        }
    
    .dvProyectsAnimacion:hover .box1 {
        transition-delay: 0.1s ;
        transform: translate(0px, -80px);
        }
    
    .dvProyectsAnimacion:hover div:hover {
        filter: brightness(110%) saturate(120%);
        
        }
}