.home {
    grid-area: home;
    height: 100%;
    width: 100%;
    background-color: black;
}

/* From uiverse.io by @adamgiebl */
.cssbuttons-io-button {
    display: flex;
    align-items: center;
    font-family: inherit;
    font-weight: 500;
    font-size: 17px;
    margin-top: 15px;
    padding: 0.8em 1.5em 0.8em 1.2em;
    color: white;
    background: #ad5389;
    background: linear-gradient(0deg, #d09f36be 0%, #d09f36be 100%);
    border: none;
    box-shadow: 0 0.7em 1.5em -0.5em #d09f36be;
    letter-spacing: 0.05em;
    border-radius: 20em;
   }
   
   .cssbuttons-io-button svg {
    margin-right: 8px;
   }
   
   .cssbuttons-io-button:hover {
    box-shadow: 0 0.5em 1.5em -0.5em #d09f36be;
   }
   
   .cssbuttons-io-button:active {
    box-shadow: 0 0.3em 1em -0.5em #d09f36be;
   }

   .adowload {
    text-decoration: none;
    color: #fff;
   }

h1 {
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Permanent Marker', cursive;
    color: #FFB800;
}

span {
    color: white;
}

.spanHi {
    position: relative;
}

.home > div {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 500px;
}

.subtitle {
    font-size: .7rem;
    color: gray;
    font-family: 'Poppins', sans-serif;
}

@media (min-width: 768px) {
    .home > div {
        font-size: 2rem;
    }

    .separadorhome {
        display: none;
    }

    .spanHi {
        position: relative;
        top: 31px;
        left: -146px;
    }

    h1{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    .subtitle {
        font-size: 1rem;
        color: white;
        border-bottom: 1px solid gray;
        width: 159px;
    }
}