.skills {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    height: 470px;
    background-color: #252525;
}

.logos {
    display: grid;
    grid-template-columns: 150px 150px;
    grid-template-rows: 100px 100px 100px;
    justify-items: center;
    align-items: center;;
}

.h1Skills {
    color: black;
    font-size: .7rem;
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
    color: white;
}

.imgSkillsBanner {
    width: 231px;
    margin: 35px;
}

@media (min-width: 768px) {
    .imglogos {
        width: 160px;
    }
    
    .divskills {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
    }

    .logos {
    display: grid;
    grid-template-rows: auto;
    justify-items: center;
    align-items: center;
    grid-template-columns: repeat(auto-fill, minmax(263px, 1fr));
    grid-auto-rows: minmax(240px, auto);
    max-width: 90%;
    margin: 0 auto;
    }

    .h1Skills {
        font-size: 1.7rem;
        font-family: 'Raleway', sans-serif;
        color: white;
    }

    .imgSkillsBanner {
        width: 20rem;
    }
   
}