body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


* {
  font-family: 'Montserrat', sans-serif;
  scroll-behavior: smooth;
}

.App {
  display: grid;
  height: 100vh;
  grid-template-areas: "nav" 
                        "home"
                        "about"
                        "skills"
                        "proyect"
                        "contact";
  grid-template-rows: auto 1fr 1fr 1fr 1fr 1fr;
  grid-template-columns: auto;
}


